@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Inter", sans-serif;
}

.logoLogin{
    margin-top: 0%;
    margin-bottom: 3%;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.registro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    position: relative;
    top: 170px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #8944AB; /* Cor do texto do rótulo */
    font-weight: bold; /* Deixa o rótulo em negrito */
}

input {
    color: #8944AB;
    font-size: 20px;
    width: 365px;
    height: 46px;
    border-radius: 25px;
    padding: 5px;
    border: solid 1.8px;
    border-color: #8944AB;
    outline: 0;
    font-family: "Inter", sans-serif;
}

::placeholder {
    font-family: "Inter", sans-serif;
    padding-left: 8px;
}

.cadastro {
    padding: 5px;
    border-radius: 20px;
    width: 375px;
    height: 46px;
    font-size: 20px;
    font-weight: 600;
    background-color: #8944AB;
    color: #f2f2f8;
    border: 0 none;
    margin-top: 20px;
}


.texto {
    font-size: 120%;
}

a {
    margin-top: 20px;
    font-size: 22px;
    color: black;
    font-weight: 450;
}

.façaSeuLogin {
    margin-top: 24px;
    font-size: 16px;
    font-weight: 450;
}

.fazerLogin{
    color: #8944AB;
    margin-left: 5px;
    font-size: 16px;
}