* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F7F7F7;
    color: #555;
}

header {
    background-color: #fff;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #333;
}

.back-button {
    color: #8D50C7;
    text-decoration: none;
    font-size: 16px;
}

h1 {
    font-size: 20px;
    text-align: center;
    flex-grow: 1;
    margin-left: -50px;
}

.logo {
    width: 40px;
    height: 40px;
}

.conversation-info {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.user-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.conversation-details h2 {
    font-size: 16px;
    color: #555;
}

.conversation-details p {
    font-size: 14px;
    color: #aaa;
}

main {
    padding: 15px;
    padding-bottom: 100px;
    overflow-y: auto;
    height: calc(100vh - 200px); /* Ajusta a altura do main */
}

.chat {
    margin-bottom: 15px;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.message.sent {
    justify-content: flex-end;
}

.message.received {
    justify-content: flex-start;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.message-content {
    background-color: #E5E5EA;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 70%;
    font-size: 14px;
}

.message.sent .message-content {
    background-color: #8D50C7;
    color: #fff;
}

.message-input {
    position: fixed;
    bottom: 60px;
    left: 0;
    right: 0;
    padding: 10px 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
}

.message-input input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #C4C4C4;
    margin: 0 10px;
}

.camera-icon, .mic-icon {
    width: 25px;
    height: 25px;
}

.bottom-nav {
    background-color: #fff;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
}

.nav-item {
    text-align: center;
    font-size: 12px;
    color: #7D4FAF;
    text-decoration: none;
    flex-grow: 1;
}

.nav-item img {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}

.nav-item.active {
    color: #8D50C7;
}
