@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f2f2f8;
    color: #555;
}

header {
    width: 100%;
    background-color: #f2f2f8;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

h1 {
    font-size: 20px;
    text-align: center;
    flex-grow: 1;
    margin-left: 50px;
    color: #333;
}

.logo {
    width: 50px;
    height: 40px;
    margin-left: 55%;
}

.conviteEnvio {
    font-size: 24px;
    margin-top: 20%;
    margin-right: 10%;
    color: #333;
}

.bottom-nav {
    background-color: #f2f2f8;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centralizar o conteúdo verticalmente */
    text-align: center;
    font-size: 12px;
    color: #999999;
    text-decoration: none;
    width: 100%; /* Garante que o item ocupe toda a largura disponível */
}

.nav-item img {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}

.nav-item.active {
    color: #8D50C7;
}

/* já alterei daqui para cima */




.link_pagina_nova {
    display: flex;
    align-items: center;
    border: none;
    background-color: #CCD5AE;
    color: #597F34;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
}

.icone {
    margin-right: 10%;
    width: 80%;
    height: 80%;
}

.texto_icone_atual {
    font-weight: bold;
    text-decoration:underline;
}


.pagina {
    padding-top: 2%;
    padding-left: 9%;
    font-size: 150%;
    color: #7381d4;
    font-weight: bold;
    text-decoration:underline;
}

.post {
    display: flex;
    flex-direction: column;
    background-color: #CCD5AE;
    width: 70vw;
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 10vh;
    border-radius: 2vw;
    padding: 2%;
    align-items: center;   
}

#imagem_bloco {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    padding: 2%;
}

.textos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.titulo {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    font-weight: bold;
    margin-left: 2%;
    text-align: justify;
    letter-spacing: -1px;
    
}

.legenda {
    display: inline-block;
    vertical-align: top;
    margin-left: 2%;
    text-align: justify;
}

.perfil {
    display: inline-block;
    vertical-align: top;
    margin-top: 2%;
    text-align: justify;
    color: #CCD5AE;
    font-size: small;
}

#usuario {
    display: flex;
    align-items: center;
    gap: 0.5%;
}

.icone_usuario {
    display: inline-block;
    vertical-align: top;
    width: 2%;
    height: 2%;
    margin-top: 2%;
    margin-left: 1%;
    text-align: justify;
}

.botao{
    background-color: #8D50C7;
    border-radius: 20px;
    font-size: medium;
    color: #fff;
    padding-right: 2%;
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}

.img_botao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    color: #597F34;
}


#quadro_postando {
    display: none;
    position: fixed;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    gap: 10px;
    background-color: #BA68C8;
    font-size: 2.5vh;
    font-weight: bold;
    width: 50vw;
    height: 50vh;
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 2vw;
    padding: 2%;
    z-index: 2000;
    border: none;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.bloco_profissional {
    display: flex;
    gap: 1vw;
    width: 50vw;
    justify-content: space-between;
}

.profissional_post {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#sair {
    width: 2vw;
}

.sair {
    width: 2.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 46%;
}

#quadro_formulario {
    background-color: #8D50C7;
    font-size: medium;
    border-radius: 18px;
    color: #FFFFFF;
    width: 300%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    transform: translate(-76%, -50%); /* Centraliza completamente */
    text-decoration: none;
}

#post-container{
    color: #597F34;
}

#novo_post{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.inputs_novo_post {
    background: transparent;
    border: none;
    border-bottom: 1.5px solid #8D50C7;
    color: #FFFFFF;
    padding: 0.6em 0.3em;
    font-size: 100%;
}

.inputs_novo_post::placeholder {
    color: #FFFFFF;
}

.inputs_novo_post:focus {
    border-bottom: 1.5px solid #8D50C7; /* Cor da borda ao focar */
    outline: none; /* Remove o contorno padrão */
}

.bloco_icones {
    display: flex;
    margin-top: 15%;
    margin-left: 65%;
    width: 20%;
    position: relative;
    border: none;
    padding: 2%;
}

.fundo {
    background-color: rgba(0, 0, 0, 0.559);
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: none;
    position: fixed;
    opacity: 1;
    top: 0;
    left: 0;
}
