@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #f2f2f8;
    color: #555;
}

header {
    width: 100%;
    background-color: #f2f2f8;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

h1 {
    font-size: 20px;
    text-align: center;
    flex-grow: 1;
    margin-left: 50px;
    color: #333;
}

.conviteEnvio {
    font-size: 24px;
    margin-top: 20%;
    margin-right: 10%;
    color: #333;
}

.logo {
    width: 50px;
    height: 40px;
    margin-left: 55%;
}

main{
    text-align: center;
}

#forum{
    margin-top: 15px;
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 100%;
    background-color: rgba(242, 242, 248, 0.9);
    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; /* Alinha o botão e o textarea verticalmente ao centro */
    justify-content: center; /* Centraliza os elementos horizontalmente */
    gap: 10px; /* Espaçamento entre o textarea e o botão */
}

::placeholder{
    font-size: 16px;
    
}

button {
    background-color: #8D50C7;
    color: #f2f2f8;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}

textarea{
    border-color: #8D50C7;
    border-radius: 10px;
    border-width: 4px;
    width: 60%;
    height: 80%;
}

.conversa{
    display: flex;
    flex-direction: column;
    background-color: #ba68c8;
    padding: 15px;
    border-radius: 20px;
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 5%px;
    margin-right: 5%;
}

p{
    color: #f2f2f8;
}

.bottom-nav {
    background-color: #f2f2f8;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centralizar o conteúdo verticalmente */
    text-align: center;
    font-size: 12px;
    color: #999999;
    text-decoration: none;
    width: 100%; /* Garante que o item ocupe toda a largura disponível */
}

.nav-item img {
    width: 25px;
    height: 25px;
    margin-bottom: 5px;
}

.nav-item.active {
    color: #8D50C7;
}
